.single-news {
    padding: 5%;

    h1 {
        color: #0D8F45;
        line-height: 50px;
    }
    img {
        width: 100%;
        padding: 5% 0;
    }
    p {
        line-height: 40px;
    }
}