.resources{
    &__header{
        height: 25vw;
        background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8)),url(../../assets/images/Hero-image.png);
        background-repeat: no-repeat;
        background-size: cover;
        // background-position-y: 30%;
        width: 100%;
        display: flex;
        align-items: center;
        padding-left: 4rem;
        margin-bottom: 2rem;

        h1 {
            font-size: 3.8rem;
            color: #fff;
            font-weight: 700;

            span{
                color: var(--yellow-color);
            }
        }
    }
    

    &__content{
        
    }
}