@font-face {
    font-family: 'Campton',sans-serif;
    src: url('./assets/fonts/Campton font/Campton Bold OTF.otf') format('opentype'),/* Super Modern Browsers */
       url('./assets/fonts/Campton font/Campton Light OTF.otf') format('opentype'), /* Super Modern Browsers */
       url('./assets/fonts/Campton font/Campton-Bold TTF.ttf') format('truetype'), /* Super Modern Browsers */
       url('./assets/fonts/Campton font/Campton-Light TTF.ttf') format('truetype'), /* Super Modern Browsers */

}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Campton",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --yellow-color:#F4C44E;
  --green-color:##0D8F45;
  
}
body::-webkit-scrollbar {
  display: none;
  
}

input,button{
  outline:none;
}

input:focus,
button:focus{
  outline:none;
}






