.courses{

    &__select{
        margin-bottom: 2.5rem;
        margin-left: 3rem;
        width:30%;
        padding-left: 5px;
        height:5vh;
        position: relative;
        &--options{
            font-size: .97rem;
            height:100%;
            width:110%;
            appearance:none;
            outline: none;
            border:none;
            border-radius: 4px;
            color:#fff;
            transform-origin: center;
            background-color: var(--green-color);
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
        
            &:focus + .courses__select--btn{
                border-bottom:.8rem solid #fff;
                border-top:.8rem solid transparent;
                transform: translateY(-75%) translateX(2%);
                -webkit-transform: translateY(-75%) translateX(2%);
                -moz-transform: translateY(-75%) translateX(2%);
                -ms-transform: translateY(-75%) translateX(2%);
                -o-transform: translateY(-75%) translateX(2%);
}
        }
        &--btn{
            z-index: 5;
            position: absolute;
            right: -8px;
            top: 50%;
            transform: translateY(-20%) translateX(1.5%);
            background-color:none;
            border-top:.8rem solid #fff;
            border-left:.8rem solid transparent;
            border-right:.8rem solid transparent;
            border-bottom:.8rem solid transparent;
            -webkit-transform: translateY(-20%) translateX(1.5%);
            -moz-transform: translateY(-20%) translateX(1.5%);
            -ms-transform: translateY(-20%) translateX(1.5%);
            -o-transform: translateY(-20%) translateX(1.5%);
            pointer-events: none;
            transition: all .35s linear;
            -webkit-transition: all .35s linear;
            -moz-transition: all .35s linear;
            -ms-transition: all .35s linear;
            -o-transition: all .35s linear;
}
        
        
    }


    &__header{
        height: 25vw;
        background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8)),url(../../assets/images/Hero-image.png);
        background-repeat: no-repeat;
        background-size: cover;
        // background-position-y: 30%;
        width: 100%;
        display: flex;
        align-items: center;
        padding-left: 4rem;
        margin-bottom: 2rem;

        h1 {
            font-size: 3.8rem;
            color: #fff;
            font-weight: 700;

            
        }
    }
    &__container{
        
        &--header{
            padding: 0 5%;
            width: 100%;
            color: var(--yellow-color);
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color:var(--green-color);

            &:nth-child(1){
                flex:0.3
            }
            &:nth-child(2){
                flex:0.5
            }
            &:nth-child(3){
                flex:0.2
            }
        }
    }

    &__list{
        padding: 0 5%;
    }
}

@media(max-width:34.38em) {
    .courses{
       &__select{
        margin-bottom: 2.5rem;
        margin-left: 3rem;
        width: 40%;
        height:5vh;
        font-weight: bold;
        appearance:none;
        outline: none;
        border-radius: 4px;
        color:#fff;
        background-color: var(--green-color);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        option{
            font-size: .9rem;
        }


        &--options{
            font-size: .97rem;
            height:100%;
            width:110%;
            appearance:none;
            outline: none;
            border:none;
            border-radius: 4px;
            color:#fff;
            transform-origin: center;
            background-color: var(--green-color);
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
        
            &:focus + .courses__select--btn{
                border-bottom:.8rem solid #fff;
                border-top:.8rem solid transparent;
                transform: translateY(-75%) translateX(1.5%);
                -webkit-transform: translateY(-75%) translateX(1.5%);
                -moz-transform: translateY(-75%) translateX(1.5%);
                -ms-transform: translateY(-75%) translateX(1.5%);
                -o-transform: translateY(-75%) translateX(1.5%);
}
        }
        &--btn{
            z-index: 5;
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-20%) translateX(1.5%);
            background-color:none;
            border-top:.8rem solid #fff;
            border-left:.8rem solid transparent;
            border-right:.8rem solid transparent;
            border-bottom:.8rem solid transparent;
            -webkit-transform: translateY(-20%) translateX(1.5%);
            -moz-transform: translateY(-20%) translateX(1.5%);
            -ms-transform: translateY(-20%) translateX(1.5%);
            -o-transform: translateY(-20%) translateX(1.5%);
            pointer-events: none;
            transition: all .35s linear;
            -webkit-transition: all .35s linear;
            -moz-transition: all .35s linear;
            -ms-transition: all .35s linear;
            -o-transition: all .35s linear;
}
}


    &__header{
        height: 25vw;
        background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8)),url(../../assets/images/Hero-image.png);
        background-repeat: no-repeat;
        background-size: cover;
        // background-position-y: 30%;
        width: 100%;
        display: flex;
        align-items: center;
        padding-left: 2rem;
        margin-bottom: 2rem;

        h1 {
            font-size: 1.55rem;
            color: #fff;
            font-weight: 700;

            
        }
    }
    &__container{
        
        &--header{
            padding: 0 5px;
            width: 100%;
            color: var(--yellow-color);
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color:var(--green-color);
            font-weight: 100;
            font-size: 1rem;

            &:nth-child(1){
                flex:0.3
            }
            &:nth-child(2){
                flex:0.5
            }
            &:nth-child(3){
                flex:0.2
            }
        }
    }

    &__list{
        padding:0 10px;
    }
}
}

@media screen and (max-width:29em) {
    .courses{
    &__select{
        &--btn{
            width:0;
            height:0;
            border-top:8px solid #fff;
            border-left:8px solid transparent;
            border-right:8px solid transparent;
            border-bottom:8px solid transparent;
            pointer-events:none;
            right: 5px;
            top: 50%;
            transform: translateY(-20%) translateX(1.5%);
            background-color:none;

        }
        &--options{
            margin-bottom: 2.5rem;
        margin-left: .4rem;
        width: 80%;
        height:5vh;
        font-weight: bold;
        appearance:none;
        outline: none;
        border-radius: 4px;
        color:#fff;
        background-color: var(--green-color);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;

            option{
                font-size: .67rem;
            }

            &:focus + .courses__select--btn{
                border-bottom:8px solid #fff;
                border-top:8px solid transparent;
                transform: translateY(-75%) translateX(2%);
                -webkit-transform: translateY(-75%) translateX(2%);
                -moz-transform: translateY(-75%) translateX(2%);
                -ms-transform: translateY(-75%) translateX(2%);
                -o-transform: translateY(-75%) translateX(2%);
}
        }
    }


    &__header{
        height: 25vw;
        background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8)),url(../../assets/images/Hero-image.png);
        background-repeat: no-repeat;
        background-size: cover;
        // background-position-y: 30%;
        width: 100%;
        display: flex;
        align-items: center;
        padding-left: 2rem;
        margin-bottom: 2rem;

        h1 {
            font-size: 1.55rem;
            color: #fff;
            font-weight: 700;

            
        }
    }
    &__container{
        
        &--header{
            padding: 0 5px;
            width: 100%;
            color: var(--yellow-color);
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color:var(--green-color);
            font-weight: 100;
            h4{
                font-size: .7rem;
            }

            &:nth-child(1){
                flex:0.3;
            }
            &:nth-child(2){
                flex:0.5;
            }
            &:nth-child(3){
                flex:0.2;
            }
        }
    }

    &__list{
        padding:0 10px;
    }
}
}

@media screen and (min-width:48.125em) {
    .courses{
    &__select{
        cursor: pointer;
        margin-bottom: 2.5rem;
        margin-left: 3rem;
        width: 17rem;
        height:5vh;
        appearance:none;
        outline: none;
        border-radius: 4px;
        color:#fff;
        background-color: var(--green-color);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
}


    &__header{
        height: 25vw;
        background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8)),url(../../assets/images/Hero-image.png);
        background-repeat: no-repeat;
        background-size: cover;
        // background-position-y: 30%;
        width: 100%;
        display: flex;
        align-items: center;
        padding-left: 2rem;
        margin-bottom: 2rem;

        h1 {
            // font-size: 1.55rem;
            color: #fff;
            font-weight: 700;

            
        }
    }
    &__container{
        
        &--header{
            padding: 0 5px;
            width: 100%;
            color: var(--yellow-color);
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color:var(--green-color);
            font-weight: 100;
            font-size: 1rem;

            &:nth-child(1){
                flex:0.3
            }
            &:nth-child(2){
                flex:0.5
            }
            &:nth-child(3){
                flex:0.2
            }
        }
    }

    &__list{
        padding:0 10px;
    }
}
}